div {
    width: 60vw;
}

.navbar {
   position: fixed;
    top: 0;
    width: 60;
    background-color: #00006c;
    z-index: 000;
    display: flex;
    justify-content: flex-end; /* Aligns the items to the right */
    padding-right: 20px; /* Add padding to the right for better spacing */
    border-bottom: 5px solid #000000; 
}


.navbar ul {
    list-style-type: none;
    margin: 90;
    padding: 60;
    overflow: hidden;
    background-color: #00006c;
    color: green;
    display: flex; /* Use flexbox for alignment */
    float: right;
    font-size: 10px;
}


.navbar ul li {
    float: center;
    margin-left: 20px; /* Add margin between the links */
}


.navbar ul li a {
    display: block;
    color:  green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color:  #00006c;
    color: #000000;
}


.nav-toggle {
    display: none;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
